.input-method {
    margin-top: 2rem;
    width: 40%;
    margin-left: 20rem;
}

.btn-ghost {
    margin-left: 20rem;
}


.light-blind {
  width: 40%;
  margin-top: 2rem;
  margin-left: 20rem;
}

.walking {
 margin-left: 20rem;
}